.homecontainer {
    max-width: 100%;
    margin: 0 auto;
    height:200vh;
    background-color: white;
    padding: 20px;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px 0;
    max-width: 100%;
    position:;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    margin-top: 20px;
  }
  
  .content h1 {
    color: #333;
  }
  
  .content p {
    color: #666;
  }
  #home{
    margin-bottom:500px;
  }